.App {
  text-align: center;
  font-size: 80px;
  font-family: "twaysky";
  color: #ffffff;;
}
.center{
  width: 100px;
  height: 100px;
  text-align: center;
}
.center_down{
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
img {
  text-align: center;
  width: 100px;
  height: 100x;
  object-fit: cover;
  display: flex;
  align-items: "center";
  justify-content: center;
}

@font-face {
  font-family: 'twaysky';
  src: url("./fonts/tway_sky.ttf");
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animated-text span {
  display: inline-block;
  animation: fadeInUp 0.5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end) infinite;
}
